.wp-block {} /*  (.wp-block {} ensures MT files load in Gutenberg editor) */


/*= Pagina inicial - below fold == */

/** Pagina inicial - below fold >> Elementor element 9ed9d7a **/
#post-96 .elementor-element-9ed9d7a {
	background-color: rgb(16, 86, 133) !important;
}

/** Pagina inicial - below fold >> Elementor element 5caa3d0 **/
#post-96 .elementor-element-5caa3d0  iframe {
	height: 25em !important;
	border-radius: 1em !important;
}

/** Pagina inicial - below fold >> Elementor button _2 **/
.elementor-element-2350c98 .elementor-button {
	width: 2em !important;
}

/** Pagina inicial - below fold >> Elementor button **/
.elementor-element-34278f9 .elementor-button {
	width: 2em !important;
}

/** Pagina inicial - below fold >> Iframe **/
.elementor-custom-embed iframe {
	height: 28em !important;
	border-radius: 1em !important;
}

